.App {
  text-align: center;
  background-color: #F6F4F3;
  min-height: 100vh;
  font-family: 'MontSerrat';
  font-weight: 400;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
  padding-top: 15px;
}

.main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input{
  background-color: #F6F4F3 !important;
  border-color: #393939;
  box-shadow: 0.5px 0.5px #888888;
  font-weight: 200 !important;
}

.dftBlue{
  background-color: #276FBF !important;
  border: #276FBF !important;
  box-shadow: 1px 1px #888888;
}

.dftBlue:hover{
  background-color: #1f528c !important;
  border: #1f528c !important;
}

.dftRed{
  background-color: #F72C25 !important;
  border: #F72C25 !important;
  box-shadow: 1px 1px #888888;
  color: #F6F4F3 !important;
}

.dftRed:hover{
  background-color: #ca2620 !important;
  border: #ca2620 !important;
}
