.App {
  text-align: center;
  background-color: #FFFFFF;
  min-height: 100vh;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
